
# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.whl

# Environment variables and virtual environments
.env
.venv/
venv/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE and editor specific files
# Visual Studio Code
.vscode/
*.code-workspace

# PyCharm
.idea/
*.iml

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Test and coverage reports
.coverage
*.cover
nosetests.xml
coverage.xml
*.log
*.pot

# Sphinx documentation
docs/_build/
docs/_static/
docs/_templates/

# Miscellaneous
*.DS_Store
*.swp
*.swo
Thumbs.db

# System files
*.bak
*.orig
*.tmp
*.temp

# Python wheel cache
~/.cache/pip/wheels

# Local settings for Flake8
.flake8

# Analytics
*.csv
*.json
*.pkl
*.ipynb

notebooks/

geordie.egg-info/
